contourpy==1.3.1
cycler==0.12.1
DeepXDE==1.13.1
filelock==3.17.0
fonttools==4.55.3
fsspec==2024.12.0
Jinja2==3.1.5
joblib==1.4.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.1
packaging==24.2
pillow==11.1.0
protobuf==5.29.3
pyaml==25.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scikit-learn==1.6.0
scikit-optimize==0.10.2
scipy==1.15.0
setuptools==75.8.0
six==1.17.0
sympy==1.13.1
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl#sha256=5625a11f61a576d12161c5c7488eef7fa03b72508968624610e4667fea82defa
threadpoolctl==3.5.0
torch==2.6.0
typing_extensions==4.12.2
wheel==0.45.1
